.store-tab-form {
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-top: 1.5em;
  max-height: 28vw;
  overflow-y: scroll;
}

.store-form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
}

.store-form-group .store-label {
  align-self: flex-start;
}

.store-form-group .store-input {
  width: 20vw;
  background-color: #f3f3f3;
  border: none;
}

.store-form-group .store-input::placeholder {
  font-size: 16px;
}

.new-store {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
}

.new-store .new-store-button {
  font-size: 16px;
  margin: 20px 0px 0px 30px;
  background-color: #00324e;
}

.store-text {
  background-color: #e9e9e9;
  align-self: flex-start;
  font-size: 1em;
  padding: 8px;
  border-radius: 5px;
}